
.vs/FileManage/FileContentIndex/42aa4dac-fdc7-4aa5-8900-947aed90993b.vsidx
.vs/FileManage/FileContentIndex/4304691c-5050-4cd6-b875-676628a121f3.vsidx
.vs/FileManage/FileContentIndex/47b24608-f042-410b-a3b9-dff866a419a9.vsidx
.vs/FileManage/FileContentIndex/4f22519f-30e4-4662-9c3e-40f428c456d3.vsidx
.vs/FileManage/FileContentIndex/ab64b41c-bbcf-48b2-a14c-541edcd91f25.vsidx
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.vsidx
FileMange/.vs/FileMange/v17/.suo
